/* we have to put the font face at the top so that the browser can register the font so we can use it */
@font-face {
    font-family: 'opensans';
    src: url('fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/open-sans/opensans-bold-webfont.woff') format('woff');
         /* we set this to bold because we are referencing the bold version */
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'opensans';
    src: url('fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/open-sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html{
    font-size: 62.5%;
}

body{
    margin: 10px;
    font-family:'Open Sans',Arial, Helvetica, sans-serif;
    /* 1 x font size of the root element which is html */
    font-size: 1rem;
}

/* setting the font for all of the headings  */
h1,h2,h3,h4,h5,h6{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1{   
    font-size: 4.209rem;
}

h2{
    font-size: 3.157rem;
}

@media screen and (min-width: 400px){
    html{
        font-size: 130%;
    }
}

