html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
}

.card{
    width: 500px;
    transform: rotate(-5deg);
    border-radius: 30px;
    overflow: hidden;
}

.footer-content{
    background: rgb(116,214,144);
    background: linear-gradient(0deg, rgba(116,214,144,1) 0%, rgba(92,191,187,0.9850315126050421) 80%);
    padding:20px 40px;
    display: flex;
    align-items: center;
    color:whitesmoke;
}


.card:hover{
    transform: rotate(0);  
}

img{
    width: 60px;
    height: 60px;
    border: solid 5px white;
    border-radius: 50%;
    margin: 0 1rem;
}