html{
    font-size: 62.5%;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box{
    width: 100px;
    height: 100px;
    background-color: gold;
}

/* * when we hover over the box it is going to rotate 15degs */
.box:hover{
    /* * this is the rotate function for the transform propery */
    transform:rotate(15deg) ;
}

.box2:hover{
    /* * this function will make the box bigger or smaller depending on the value  */
    transform: scale(1.5);
}

.box3:hover{
    /* * this function will make the box skew to the left or the right    */
    transform: skew(15deg);
}

.box4:hover{
    /* * this function will make the box move the box on the horizontal and vertical axis */
    transform: translate(15px, 10px);
}
