<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overflowing</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="box">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae sunt impedit debitis numquam ut. Incidunt
            optio magnam qui inventore similique praesentium nemo adipisci commodi voluptatem at eos ducimus, error
            totam consequatur, pariatur dolor quas ab. Maiores facere cum, laudantium facilis atque provident expedita
            nostrum repellendus minima dolorem odio quae dolor!
        </p>
    </div>
</body>

</html>